@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
  label {
    font-weight: 600;
  }

  .pageHeader {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    font-weight: 900;
  }
  .floating-input > input::placeholder {
    color: transparent;
  }

  .floating-input > input:focus,
  .floating-input > input:not(:placeholder-shown) {
    @apply pt-8;
  }

  .floating-input > input:focus ~ label,
  .floating-input > input:not(:placeholder-shown) ~ label {
    @apply opacity-75 scale-75 -translate-y-3 translate-x-1;
  }

  .navUl > li {
    display: inline;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    background: linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 100ms;
  }

  li:hover {
    background-size: 0 0.1em, 100% 0.1em;
  }

  .navbarText {
    background: #fff;
    -webkit-background-clip: text;
    transition: all 1000ms;
    -webkit-text-fill-color: transparent;
  }

  .navbarText:hover {
    background: linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
    -webkit-background-clip: text;
  }

  .btn {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    padding: 0.5rem /* 8px */;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    border-radius: 0.5rem /* 8px */;
    font-weight: 500;
  }

  .btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
  }

  /* Click of button */
  .btn:active {
    /* font-size: 1.5rem 24px; */
    /* line-height: 2rem 32px; */
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
}
